<ion-content>
  <ion-slides class="helperHome" pager="true" [options]="slideOpts">
    <ion-slide class="active">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../../assets/img/slide-4.png" />
          </ion-col>
        </ion-row>
        <ion-row>
          <h2 style="width: 100%;">Ready to Play?</h2>

          <ion-button
            class="ios button button-block button-solid ion-activatable ion-focusable hydrated"
            expand="block"
            style="width: 100%;"
            href="/folder"
            >Continuar</ion-button
          >
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
